div {
  max-width: 12em;
  height: 8em;
}

div:nth-of-type(1) {
  background: linear-gradient(#fb3 50%, #58a 50%);
  background-size: 100% 30px;
}

div:nth-of-type(2) {
  background: linear-gradient(to right, #fb3 50%, #58a 50%);
  background-size: 30px 100%;
}

div:nth-of-type(3) {
  background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0);
  background-size: 42px 42px;
}

div:nth-of-type(4) {
  background: repeating-linear-gradient(45deg, #fb3, #58a 30px)
}

div:nth-of-type(5) {
  background: repeating-linear-gradient(60deg, #fb3, #fb3 15px, #58a 0, #58a 30px);
}

div:nth-of-type(6) {
  background: #58a;
  background-image: repeating-linear-gradient(30deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1) 15px, transparent 0, transparent 30px);
}
