button {
	padding: .3em .5em;
	border-radius: 50%;
	background: #58a;
	color: white;
	font: bold 150%/1 sans-serif;
	cursor: pointer;
}

button:nth-of-type(1) {
  border: 10px solid transparent;
  background-clip: padding-box;
	box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset;
}

button:nth-of-type(2) {
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset,
              0 .1em .2em -.5em rgba(0,0,0,.5);
}

button:nth-of-type(2)::before {
  position: absolute;
  content: '';
  top: -10px; right: -10px;
  bottom: -10px; left: -10px;
}
